body {
  background: #FFFFFF;
  font-family: 'Rubik', sans-serif;
  color: #4F5665;
  margin: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  color: #0B132A;
  margin-bottom: 0;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 18px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 40px;
}

.primary-button {
  color: #FFFFFF;
  font-weight: 700;
  text-align: center;
  background-color: #F53838;
  border-radius: 10px;
  padding: 17.5px 0;
  width: 250px;
  box-shadow: 0 25.29px 54px -10px rgba(245, 56, 56, 0.55);
}

.heading-bold {
  font-size: inherit;
  font-weight: 700;
}

.paragraph-bold {
  font-size: inherit;
  font-weight: 500;
}

@media screen and (max-width: 1023px) {
  body {
    font-size: 15px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding: 0 20px;
  }

  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 28px;
  }
}
